/* clinic
/////////////////////////////////////////////////////////////////////////////////////// */

.clinic--bg {
  padding: 7rem 0 11rem;
  @include media-sp {
    padding: 3rem 0 10rem;
  }
  &.__gray {
    background: $bg-gray__color;
  }
  &.__white {
    background: $bg-white__color;
  }
}


.main--bg__wrap {
  width: 100%;
  height: 750px;
  @include media-sp {
    height: 560px;
  }
  @media screen and (max-width: 320px) {
    height: 560px;
  }
}

.main--bg {
  width: 100%;
  height: 100%;
  &.__shinkyu {
    background: url("/img/clinic/shinkyu/main.jpg")no-repeat;
    background-size: cover;
    background-position: center center;
  }
  &.__sekkotsu {
    background: url("/img/clinic/sekkotsu/main.jpg")no-repeat;
    background-size: cover;
    background-position: center center;
  }
}



.clinic__main--ttl {
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 1rem;
  text-align: center;
  @include media-sp {
    font-size: 3rem;
    letter-spacing: 10px;
  }
}

.clinic__main--subttl {
  text-align: center;
  font-family: din-2014, sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  margin-left: -15px;
  @include media-sp {
    margin:0;
  }
}

.clinic__main--linkBox {
  padding: 13rem 0;
  @include media-sp {
    padding: 6rem 0rem 6rem 0.5rem;
  }
}

.clinic__main--link {
  background: linear-gradient(45deg, #a0ffb0, #94c5ff);
  border-radius: 16px;
  padding: 1.2px;
  width: 100%;
}

.clinic__main--linkChild {
  color: #1193f4;
  background-color: #fff;
  border-radius: 15px;
  height: 30px;
  text-align: center;
  padding: 4px;
}

.clinic__cont--ttl {
  background: $bg-gradation__color;
  text-align: center;
  margin: 0;
  padding: 2rem 0rem;
  font-size: 2rem;
  letter-spacing: 5px;
  &__sub {
    font-family: din-2014, sans-serif;
    font-size: 1rem;
  }
}

//simplebar.js
.simplebar-track.simplebar-vertical{
  width: 12px;
}
.simplebar-scrollbar.simplebar-visible:before{
    opacity: 1;
    background-color: $base-color2;
}

// news
.top-news-wrap {
  padding: 0rem 0 3rem;
  @include media-sp {
    padding: 50px 0;
  }
}
.news-area__wrap{
  position: relative;
  width: 100%;
  height: 349px;
  overflow-y: scroll;
  border: 2px solid $base-color2;
  background: #fff;
}
ul.news-area{
  width: 100%;
  padding: 0 20px 20px;
  margin: 0;

  >li {
    border-bottom: 2px solid #ADADAD;
    padding: 25px 0;
    overflow: hidden;
  }
  .date {
    display: inline-block;
    color: #7d7d7d;
    font-family: din-2014, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  } 
  .new{
    display: inline-block;
    border-radius: 20px;
    background-color: $point-color;
    padding: 0.2em 0.5em;
    color: $base-color2;
    font-weight: bold;
    margin: 0 0 0 .5em;
    font-size: 1rem;
    line-height: 1em;
  }
  .midashi{
    font-size: 16px;
    margin: 0.5rem 0;
    font-weight: bold;
  }
  .text{
    font-size: 13px;
    margin: 0.5rem 0 0;
  }
  .link{
    display: inline-block;
    text-align: right;
    font-size: 13px;
    color: #0044CC;
    text-decoration: underline;
    margin-top: .2em;
    &::before{
      content: "→";
    }
  }
  //装飾用
  u{
    text-decoration: underline;
  }
  b{
    color: #F00;
  }
  strong{
    font-weight: bold;
  }
}

.cont--ttl {
  margin: -85px 0 0;
  font-size: 2rem;
  letter-spacing: 1rem;
  text-align: center;
  background: url("/img/common/ttl_bg.jpg")no-repeat;
  background-position: center bottom 0%;
  background-size: contain;
  @include media-sp {
    background: url("/img/common/ttl_bg_sp.jpg")no-repeat;
    background-position: center bottom 0%;
    font-size: 1.5rem;
    letter-spacing: 4px;
  }
}

.cont--subttl {
  text-align: center;
  font-family: din-2014, sans-serif;
  font-weight: bold;
}



.doctor__List {
  position: relative;
  float: left;
  margin-bottom: 30px;
}

.doctor__ {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.senko {
  font-size: 1rem;
  margin: 20px 0 0;
  @include media-sp {
    font-size: 0.8rem;
  }
}

.doctor__List_name_bg {
  background: rgba(207, 255, 21, 0.8);
  padding: .5em .1em;
  margin-left: 2px;
  display: inline-block;
}

.doctor--sekkotsu__name{
  background: $point-color;
  padding: 1%;
  font-size: 1.5rem;
  font-weight: bold;
  @include media-sp {
    padding: 3%;
  }
}

.doctor--sekkotsu__margin{
  text-align: left;
  @include media-sp {
    margin-top: -1.5rem;
    text-align: center;
  }
}  

.doctor--sekkotsu__border{
  padding-bottom: 1rem;
  border-bottom: solid 1px $point-color;
}


.tate {
  position: absolute;
  top: -35px;
  right: 0;
  white-space: nowrap;
  color: #000;
  line-height: 1.6;
  letter-spacing: .03em;
  writing-mode: vertical-rl;
}

.doctor__List_img {
  width: 90%;
}


/* .table-schedule
------------------------------------*/

.table-schedule {
  width: 100%;
  text-align: center;
  line-height: 1.7;
}

.table-schedule tr {
  border-bottom: 1px solid #829EBF;
}

.table-schedule th {
  padding: 0.3rem 0.2rem; //font-size: 16px;
}

.table-schedule th:first-of-type {
  //font-size: 15px;
  letter-spacing: 0.1em;
}

.table-schedule th:first-of-type, .table-schedule td:first-of-type {
  //padding-right: 16px;
}

.table-schedule td {
  padding: 0.3rem 0.2rem;
  font-size: 1rem;
}

.table-schedule td:first-of-type {
  font-size: 0.8rem;
  letter-spacing: 0.1em;
}

.table-schedule+p {
  margin: 8px 0 0 2px;
  letter-spacing: 0.08em !important;
}


/* ---------------------------
mod-schedule
--------------------------- */

.mod-schedule-table {
  width: 100%;
  margin-bottom: 1em;
}

.mod-schedule-table th, .mod-schedule-table td {
  text-align: center;
}

.mod-schedule-table .tal {
  padding-left: 0;
}

.mod-schedule-notes {
  text-align: right;
}

.mod-footer .mod-schedule-notes {
  text-align: left;
}

.mod-schedule-table th, .mod-schedule-table td {
  border-right: 1px solid #829EBF;
  padding: 10px;
  @include media-sp {
    padding: 5px;
  }
}

.mod-schedule-table .tal {
  width: 8em;
  @include media-sp {
    width: 2em;
  }
}

.tariff__wrap {
  border: solid 2px #000;
  background: #FFF;
}

.tariff__box {
  text-align: center;
  &.__padding {
    padding: 2rem;
  }
  &.__no1 {
    padding: 2rem;
    border: solid #000;
    border-width: 0px 2px 0px 0px;
    @include media-sp {
      border: solid #000;
      border-width: 0px 0px 2px 0px;
    }
  }
}

.tariff__border {
    text-align: center;
  border-bottom: solid 1px #efefef;
}

.tariff__icon {
  padding: 0.7rem 1rem;
  font-size: 2rem;
  border: solid 2px #000;
  border-radius: 100px;
}

.tariff__cate {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.clinic_map {
  height: 500px;
  @include media-sp {
    height: 300px;
  }
}