
/* ---- header ---- */


.content {
  overflow: hidden; /* はみ出た部分は表示しない */
}

.content01{
  position: relative;
  width: 100%;
  background-color: $main-color;
	&.__normal{
		padding: 1rem 1rem 7rem;
	}
	&.__header{
		position: relative;
		height: 140px;
		padding: 1rem;
		z-index: 10;
	}
}

.content02{
  position: relative;
  width: 100%;
  background-color: $base-color;
	&.__normal{
		padding: 1rem 1rem 7rem;
	}
	&.__header{
		height: 140px;
		padding: 1rem;
	}
}


.content01::after {
  content: '';
  display: block;
  position: absolute;
  right:0;
  bottom: 0;
  border-top: 40px solid transparent;    
  border-right: 50vw solid transparent;    
  border-left: 50vw solid $base-color;   
  border-bottom: 60px solid $base-color;  
}
@media only screen and (max-width: 2000px) {
  .content01::after {
    border-right: 1000px solid transparent;    
    border-left: 1000px solid $base-color;   
  }
}


.content02::after {
  content: '';
  display: block;
  position: absolute;
  right:0;
  bottom: 0;
  border-top: 40px solid transparent;    
  border-right: 50vw solid transparent;    
  border-left: 50vw solid $main-color;   
  border-bottom: 60px solid $main-color;  
}
@media only screen and (max-width: 2000px) {
  .content02::after {
    border-right: 1000px solid transparent;    
    border-left: 1000px solid $main-color;   
  }
}


.bg__main{
	background-color: $main-color;
}
.bg__base{
	background-color: $base-color;
}

.bg__point{
	background-color: $point-color;
}

.header_ttl{
	width: 400px;
	font-size: 0.8rem;
	color: #FFF;
	position: absolute;
	left: 0;
}

.header_pc_menu{
	width: 530px;
	font-weight: bold;
	position: absolute;
	right: 0;
	top:0;
	padding: 0 1rem 0 0;
	z-index: 10;
}


/* ---- top ---- */
.top_main_img{
	margin: 3rem auto;
	width: 15rem;
	background-image: url(#{$img_path}/common/brain.svg);
	background-repeat: no-repeat;
	position: relative;
	z-index: 50;
	padding: 7rem;
	background-size: contain;
	background-position: center;
	img{
		margin: auto;
		position: relative;
		z-index: 90;
		top:2rem;
		
	}
}

.top_main_wave{
	//transform:rotate(6deg);
}

.top_bg_circle{
	position: absolute;
	transform: rotate(6deg);
	top: 120px;
}


.top_main_bg_margin{
	margin-top: 3rem;
}

.waveaaaa {
  position: relative;
	width: 100%;
}

.waveaaaa canvas {
  position: absolute;
  /*bottom: 0;*/
  left: 0;
	top:1.5rem;
	width: 100%;
	height: 90px;
}

