.heder-pc {
	background: #FFF;
}
.heder-pc__logo {
    width: 400px;
    padding: .8rem 0;
}

.heder-pc__right {
    width:  680px;
    padding-left:  20px;
}

.heder-pc__text-link {
    margin:.3rem 0 0 0;
    padding: 0;
    list-style: none;
    display:  flex;
    justify-content: flex-end;
}

.heder-pc__button-wrap {
    display: flex;
    justify-content: flex-end;
    padding-top: .3rem;
}

.heder-pc__text-link-item {
    margin: 0;
}

.heder-pc__text-link-item a {
    display: inline-block;
    text-decoration:  none;
    padding-left: 1rem;
    margin-left:.3rem;
    position: relative;
    font-size: .8rem;
    color:$font-color__defo;
    i {
    	color: $main-color;
    	position:absolute;
    	left: .5rem;
    	top:50%;
    	transform: translateY(-50%);
    }
}

a.heder-pc__button {
    display: inline-block;
    text-decoration:  none;
    text-align: center;
    line-height:  1;
    padding:.3rem .5rem;
    border: solid 1px $point-color;
    font-size: .8rem;
    min-width: 165px;
    margin-left: 10px;
    border-radius: .2rem;
    color: $point-color;
    &:type-of-nth(1) {
    	margin-left:0;
    }
}

a.heder-pc__button small {
    display:  block;
    display: block;
    font-size: .4rem;
}

a.heder-pc__button strong {
    display: block;
    margin: .3rem 0;
}

a.heder-pc__button--cv {
	@extend .heder-pc__button;
	background-color:$point-color;
	border:none;
	display:flex;
	align-items: center;
	justify-content: center;
	color:#FFF;
}