@charset "UTF-8";
/* Scss Document */
/*メディアサイズ*/
/*色*/
/*フォントサイズ*/
/* Scss Document */
/*メデイアクエリブレイクポイント*/
/*clearfix*/
/*webfont*/
.heder-pc {
  background: #FFF; }

.heder-pc__logo {
  width: 400px;
  padding: .8rem 0; }

.heder-pc__right {
  width: 680px;
  padding-left: 20px; }

.heder-pc__text-link {
  margin: .3rem 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end; }

.heder-pc__button-wrap {
  display: flex;
  justify-content: flex-end;
  padding-top: .3rem; }

.heder-pc__text-link-item {
  margin: 0; }

.heder-pc__text-link-item a {
  display: inline-block;
  text-decoration: none;
  padding-left: 1rem;
  margin-left: .3rem;
  position: relative;
  font-size: .8rem;
  color: #555; }
  .heder-pc__text-link-item a i {
    color: #F091A7;
    position: absolute;
    left: .5rem;
    top: 50%;
    transform: translateY(-50%); }

a.heder-pc__button, a.heder-pc__button--cv {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  padding: .3rem .5rem;
  border: solid 1px #f7a200;
  font-size: .8rem;
  min-width: 165px;
  margin-left: 10px;
  border-radius: .2rem;
  color: #f7a200; }
  a.heder-pc__button:type-of-nth(1), a.heder-pc__button--cv:type-of-nth(1) {
    margin-left: 0; }

a.heder-pc__button small, a.heder-pc__button--cv small {
  display: block;
  display: block;
  font-size: .4rem; }

a.heder-pc__button strong, a.heder-pc__button--cv strong {
  display: block;
  margin: .3rem 0; }

a.heder-pc__button--cv {
  background-color: #f7a200;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF; }

.main-img__wrap {
  background: #F5F5F5; }

.main-img {
  max-width: 100%;
  margin: auto; }

.heder-pc .wrap {
  display: flex; }

.entry-wrap {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 2rem; }

.entry-pc {
  width: 700px;
  padding-left: 20px; }

.sidebar-pc {
  width: 280px; }
