@keyframes slideDown {
	0% {
		transform:translateY(-100%);
	}
	100% {
		transform:translateY(0);
	}
}

@keyframes fadeIn{
	0% {
		opacity:0;
		transform:translateY(1rem);
	}
	50% {
		transform:translateY(0);
	}
	100% {
		opacity:1;
	}
}
@keyframes fadeInSpin {
	0% {
		transform:rotate(180deg);
		color:rgba(255,255,255,0);
		background:rgba(158,158,158, 0.0);
	}
	50% {
		transform:rotate(0deg);
		color:rgba(255,255,255,1);
		background:rgba(158,158,158, 0.20);
	}
	100% {
		background:rgba(158,158,158, 0);
	}
}




@keyframes slideUp {
	0% {
		opacity:0;
		transform:translateY(50%);
	}
	40% {
		opacity:1;
		transform:translateY(50%);
	}
	50% {
		opacity:1;
		transform:translateY(50%);
	}
	100% {
		opacity:1;
		transform:translateY(0);
	}
}

@keyframes slideInLeft {
	0% {
		transform:translate3d(-100%,0 ,0) skewX(30deg);
		opacity:0;
	}
	70% {
		transform:translate3d(0,0,0) skewX(10deg);
		opacity:0.8;
	}
	/*80% {
		transform:translateX(-1%) skewX(-2deg);
		opacity:0.6;
	}
	90% {
		transform:translateX(1%) skewX(3deg);
		opacity:0.8;
	}*/
	100% {
		transform:translateX(0) skewX(0deg);
		opacity:1;
	}
}
@keyframes slideInRight {
	0% {
		transform:translate3d(100%,0 ,0);
		opacity:0;
	}
	100% {
		transform:translate3d(0,0,0);
		opacity:1;
	}
}


@keyframes scaleUp {
	0% {
		opacity:0;
		transform:scale(0.8,1.2)  translateY(-200%);
	}
	30% {
		opacity:1;
		transform:scale(1.1,0.9) translateY(0);
	}
	40% {
		opacity:0.8;
		transform:scale(0.8,1) translateY(-20%);
	}
	50% {
		opacity:1;
		transform:scale(1.05,0.95) translateY(0);
	}
	60% {
		opacity:0.9;
		transform:scale(0.95,1) translateY(-5%);
	}
	68% {
		opacity:1;
		transform:scale(1,0.95) translateY(0%);
	}
	75% {
		opacity:0.9;
		transform:scale(0.95,1) translateY(-3%);
	}
	80% {
		opacity:1;
		transform:scale(1) translateY(0);
	}
	90% {
		opacity:1;
		transform:scale(1) translateY(-2%);
	}
	100% {
		opacity:1;
		transform:scale(1) translateY(0);
	}
}
@keyframes jyamp {
	0% {
		transform:scale(1,1)  translateY(0%);
	}
	10% {
		transform:scale(0.9,1.1)  translateY(0%);
	}
	35% {
		transform:scale(1,1)  translateY(-30%);
	}
	55% {
		transform:scale(1.05,0.95)  translateY(-10%);
	}
	60% {
		transform:scale(0.95,1.05)  translateY(0%);
	}

	75% {
		transform:scale(1,1)  translateY(-15%);
	}
	90% {
		transform:scale(0.98,1.08)  translateY(2%);
	}
	100% {
		transform:scale(1,1)  translateY(0%);
	}
}

@keyframes icon-rotate {
	0% {
		transform:translateY(-50%) rotate(0deg);
	}
	100% {
		transform:translateY(-50%) rotate(360deg);
	}
}
@keyframes icon-rotate-close {
	0% {
		transform:translateY(-50%) rotate(0deg);
	}
	100% {
		transform:translateY(-50%) rotate(-360deg);
	}
}
@keyframes type6-top {
  0% {
    transform: translateY(-2.5px) rotate(-45deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(-10px) rotate(0deg);
  }
}

@keyframes type6-bottom {
  0% {
    transform: translateY(0) rotate(45deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(2.5px) rotate(0deg);
  }
}

@keyframes type6-top-close {
  0% {
    transform: translateY(-2.5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(-45deg);
  }
}

@keyframes type6-bottom-close {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-5.5px) rotate(0deg);
  }
  100% {
    transform: translateY(-5.5px) rotate(45deg);
  }
}



