/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
  box-sizing: border-box;
  @include media-pc {
    //	font-size: 87.5%; /*14px*/
    font-size: 100%;
    /*16px*/
  }
  @include media-sp {
    font-size: 81.25%;
    /*13px*/
  }
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: 500;
  margin: 0;
}

body, button, input, select, textarea {
  line-height: 1.5;
}

*, *:before, *:after {
  box-sizing: border-box;
}

hr {
  background-color: #ccc!important;
  border: 0!important;
  height: 1px!important;
}

img {
  height: auto;
  max-width: 100%;
}


/* 画像のリンクロールオーバー */

a img {
  -webkit-transition: all .3s;
  transition: all .3s;
}

a:hover img {
  filter: alpha(opacity=50);
  -moz-opacity: 0.50;
  opacity: 0.50;
  -webkit-transition: all .3s;
  transition: all .3s;
}

p {
  margin: 1.5em 0;
}

a {
  color: $font-color__link;
  &:hover {
    @extend a;
    text-decoration: none;
  }
  &:visited {
    @extend a;
  }
}

table {
  border-collapse: collapse;
}

ul, li {
  padding: 0;
  list-style: none;
}

dl {
  padding: 0;
}

dt, dd {
  margin: 0;
}


/*
******************************************************************************/

.ctinner {
  max-width: 1024px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  @include media-sp {
    width: 90%;
  }
}

.wrap-sp {
  @include media-sp {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}


/*clearfix
******************************************************************************/

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


/*pdfアイコン
******************************************************************************/


/*pdfのリンクの際に自動的にアイコンを付ける*/

a[href$=".pdf"] {
  background: url("../img/common/icon_pdf.png") no-repeat scroll right center rgba(0, 0, 0, 0);
  display: inline-block;
  padding: 5px 40px 5px 0;
}


/*アイコンを付けない場合*/

.no-pdf a[href$=".pdf"] {
  background: none;
  display: inline;
  padding: 0;
}


/*pcとspで表示切り分け
******************************************************************************/

.Box-pc {
  @include media-pc {
    display: block;
  }
  @include media-sp {
    display: none;
  }
}

.Box-sp {
  @include media-pc {
    display: none;
  }
  @include media-sp {
    display: block;
  }
}