/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
  box-sizing: border-box;
  @include media-pc {
    //	font-size: 87.5%; /*14px*/
    font-size: 100%;
    /*16px*/
  }
  @include media-sp {
    font-size: 81.25%;
    /*13px*/
  }
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: 500;
  margin: 0;
	color: $font-color__defo;
  margin: 0;
	background-color: $main-color;
	@include media-pc {
		cursor: none;
	}
}

body, button, input, select, textarea {
  line-height: 1.5;
}

*, *:before, *:after {
  box-sizing: border-box;
}

hr {
  background-color: #ccc!important;
  border: 0!important;
  height: 1px!important;
}

img {
  height: auto;
  max-width: 100%;
}

a{
	cursor:none;
	color: $font-color__defo;
}



@charset "UTF-8";
/*!
 * ress.css • v1.1.2
 * MIT License
 * github.com/filipelinhares/ress */
/* # =================================================================
 * # Global selectors
 * # ================================================================= */
html {
	overflow-y: scroll;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/* All browsers without overlaying scrollbars */

	-webkit-text-size-adjust: 100%;
	/* iOS 8+ */
}


.c-follower,
.c-pointer {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: none;
	width: 96px;
	height: 96px;
	border-radius: 50%;
	background-color: rgba(253, 254, 0, .5);
	-webkit-filter: none;
	filter: none;
	-webkit-transform: scale(0);
	transform: scale(0); 
	pointer-events: none;
	mix-blend-mode: none;
}
.c-follower.is-blend,
.is-blend.c-pointer {
	background-color: $main-color;
	//filter: invert(100%)!important;
	mix-blend-mode: exclusion;
}
.no-touchdevice .c-follower,
.no-touchdevice .c-pointer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-pack: center;

	-ms-flex-pack: center;

	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.is-ie .c-follower,
.is-ie .c-pointer {
	background-color: rgba(253, 254, 0, .5);
}
.c-follower span,
.c-pointer span {
	color: #000;
	font-weight: 700;
	font-size: 20px;
	font-family: "brandon-grotesque", "Yu Gothic Medium", "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", "HiraKakuProN-W3", "Meiryo", sans-serif;
	line-height: 1.4;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.c-pointer {
	display: none;
	width: 8px;
	height: 8px;
	background-color: #000;
}
.no-touchdevice .c-pointer {
	display: block;
}

#svg-sprite {
	display: none;
}










/* テキストドラッグカラー */
/* HTMLタグに適用 */
::selection {
  color: #fff;
  background-color: $point-color;
}

p::selection {
  color: #fff;
  background-color: $point-color;
}

a::selection {
	color: #fff;
  background-color: $point-color;
}

/* classに適用 */
.test::selection {
  color: #fff;
  background-color: $point-color;
}

/* idに適用 */
#test::selection {
  color: #fff;
  background-color: $point-color;
}


/* 画像のリンクロールオーバー */

a img {
  -webkit-transition: all .3s;
  transition: all .3s;
}

a:hover img {
  filter: alpha(opacity=50);
  -moz-opacity: 0.50;
  opacity: 0.50;
  -webkit-transition: all .3s;
  transition: all .3s;
}

p {
  margin: 1.5em 0;
}

a {
  color: $font-color__defo;
  &:hover {
    @extend a;
    text-decoration: none;
  }
  &:visited {
    @extend a;
  }
}

table {
  border-collapse: collapse;
}

ul, li {
  padding: 0;
  list-style: none;
}

dl {
  padding: 0;
}

dt, dd {
  margin: 0;
}


/*
******************************************************************************/

.ctinner {
  max-width: 1024px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  @include media-sp {
    width: 90%;
  }
}

.wrap-sp {
  @include media-sp {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}


/*clearfix
******************************************************************************/

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


/*pdfアイコン
******************************************************************************/


/*pdfのリンクの際に自動的にアイコンを付ける*/

a[href$=".pdf"] {
  background: url("../img/common/icon_pdf.png") no-repeat scroll right center rgba(0, 0, 0, 0);
  display: inline-block;
  padding: 5px 40px 5px 0;
}


/*アイコンを付けない場合*/

.no-pdf a[href$=".pdf"] {
  background: none;
  display: inline;
  padding: 0;
}


/*pcとspで表示切り分け
******************************************************************************/

.Box-pc {
  @include media-pc {
    display: block;
  }
  @include media-sp {
    display: none;
  }
}

.Box-sp {
  @include media-pc {
    display: none;
  }
  @include media-sp {
    display: block;
  }
}


/*バンクズ
******************************************************************************/

.breadcrumb{
	font-size: 0.8rem;
	padding: 2rem 0;
	@include media-sp {
    display: none;
  }
}