.center {
	text-align: center;
}
@include media-pc {
	.center-pc {
		text-align: center;
	}
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}
@include media-sp {
	.left-sp {
		text-align: left;
	}
}