@import "parts/angled-edges";

.entry-wrap {
	@include media-pc {
		width: 980px;
	}
	margin:auto;
}
.wrap {
	@include media-pc {
		max-width: 980px;
		margin-left: auto;
		margin-right: auto;
	}
	@include media-sp {
		padding: 0 2.5%;
	}
	&--100 {
		@extend .wrap;
		padding:0;
	}
}
@include media-sp {
	.wrap-sp {
		padding: 0 2.5%;
	}
}
.entry-content {
	@extend .wrap;
}
.entry-footer {
	@extend .wrap;
}
.wrap--pc-15 {
	@include media-pc {
		padding: 0 20%;
	}
	@include media-sp {
		padding: 0 5%;
	}
}
.content-diagonal__bottom-right--main-color {
	background:$main-color;
	@include angled-edge('outside bottom','lower right', $main-color);
}
.content-diagonal__top-right--main-color {
	background:$main-color;
	@include angled-edge('outside top','upper right', $main-color);
}







