.footer-link__list {
	padding: 2.5%;
	margin: 0;
}

.footer-link__item {
	margin: 2.5% 0;
	list-style: none;
	&:nth-child(1) {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.footer-title__main {
	font-size: 1.8rem;
}

.footer-link__link {
	background: #FFF;
	display: block;
	padding: 1.2rem 2rem 1.2rem 4.5rem;
	position: relative;
	text-decoration:  none;
	color:  $main-color;
	font-size: $font-size--L;
	border-radius: .3rem;
	border:solid 1px $main-color;
	&:after {
		display: inline-block;
		@include webfont;
		content: "\f105";
	    position:absolute;
	    right:.5rem;
	    top:50%;
	    transform:translateY(-50%);
	}
}
.footer-link__icon {
	position:absolute;
	width:3rem;
	left:.5rem;
	top:50%;
	transform:translateY(-50%);
	border-radius: 9999px;
	background-color:#FFF;
}