/* Scss Document */
.loop-single {
	margin:2.5% 0 0 0;
	@include media-pc {
		padding:0;
	}
	.posts-item {
		margin:0 0 1.5rem 0;
		padding:0;
		list-style: none;
		text-indent: inherit;
		border-bottom: solid 1px #CCC;
	}
}
.staffArchive a {
	text-decoration: none;
	color:$font-color__defo;
}

@mixin posts-list--left-img {
	display:table;
	width: 100%;
	a {
		text-decoration: none;
		color: $font-color--defo;
	}
}
.posts-list--left-img {
	@include posts-list--left-img;
}
@include media-sp {
	.posts-list--sp--left-img {
		@include posts-list--left-img;
	}
}


@mixin posts-list__box {
	display:table-cell;
	vertical-align: top;
}
.posts-list--left-img__img,.posts-list--left-img__right-box {
	@include posts-list__box;
}
@include media-sp {
	.posts-list--sp--left-img__img,.posts-list--sp--left-img__right-box {
		@include posts-list__box;
	}
}


@mixin posts-list--left-img__right-box {
	padding-left:5%;
}
.posts-list--left-img__right-box {
	@include posts-list--left-img__right-box;
}
@include media-sp {
	.posts-list--sp--left-img__right-box {
		@include posts-list--left-img__right-box;
	}
}

.posts-list--left-img__title {
	font-size: $font-size--2L;
}

@mixin new($icon) {
	.#{$icon} {
	  position: relative;
	    &:before {
	      content:"";
	      background-image: url(../img/common/#{$icon}.svg);
	      background-position: 0 0;
	      background-size: 100%;
	      background-repeat: no-repeat;
	      display:block;
	      width:30%;
	      padding-top: 100%;
	      position:absolute;
	      top:0;
	      left:0;
	      z-index: 999;
	    }
	}
}

@include new(new);
@include new(hot);




@mixin posts-list--left-img__img {
	width:20%;
}
.posts-list--left-img__img {
	@include posts-list--left-img__img;
}
@include media-sp {
	.posts-list--sp--left-img__img {
		@include posts-list--left-img__img;
	}
}


@mixin posts-list--left-img__title {
	margin: 0 0 1rem 0;
	@include media-sp {
		font-size: $font-size--L;
	}
}
.posts-list--left-img__title {
	@include posts-list--left-img__title;
}
@include media-sp {
	.posts-list--sp--left-img__title {
		@include posts-list--left-img__title;
	}
}


@mixin posts-list--left-img__text {
	margin:1rem 0;
}
.posts-list--left-img__text {
	@include posts-list--left-img__text;
}
@include media-sp {
	.posts-list--sp--left-img__text {
		@include posts-list--left-img__text;
	}
}


@mixin posts-list--left-img__meta {
	float: left;
    padding-bottom:1rem;
}
.posts-list--left-img__meta {
    @include posts-list--left-img__meta;
}
@include media-sp {
	.posts-list--sp--left-img__meta {
	    @include posts-list--left-img__meta;
	}
}


@mixin posts-list--left-img__link {
	float: right;
    color:$link-color;
    text-align: right;
    margin-top:0;
    &:after {
    	color:$link-color;
    }
}
.posts-list--left-img .posts-list--left-img__link {
	@include posts-list--left-img__link;
}
@include media-sp {
	.posts-list--sp--left-img .posts-list--sp--left-img__link {
		@include posts-list--left-img__link;
	}
}