@mixin card {
	background: #FFF;
	padding: 0;
	min-width: 100%;
	min-height:100%;
	position:relative;
	border-bottom: solid .1rem rgba(0,0,0,.1);
}
.card {
	@include card;
}
@include media-pc {
	.card--pc {
		@include card;
	}
}


@mixin card__img {
	width:100%;
	&:before {
		content: "";
		padding-top: 50%;
		display:block;
	}
}
.card__img {
	@include card__img;
}
@include media-pc {
	.card--pc__img {
		@include card__img;
	}
}

.card__num {
	position: absolute;
	background: rgba(0,0,0,.7);
	padding: .5rem;
	color: #FFF;
	font-weight: 700;
}


@mixin card__content {
	padding:5%;
	word-wrap: break-word;
	>*:first-child{
		margin-top: 0;
	}
	>*:last-child {
		margin-bottom: 0;
	}
}
.card__content {
	@include card__content;
}
@include media-pc {
	.card--pc__content {
		@include card__content;
	}
	.card--pc__content--pb0 {
		@include card__content;
		padding-bottom: 0;
	}
}
.card__tag {
	display: inline-block;
	padding: 0;
	font-size: $font-size--2S;
	margin: 0 0 .2rem .5rem;
	padding: 0 .5rem;
}
.card__meta {
	line-height: 1;
	.post-categories {
		display: block;
		padding: 0;
		margin: 2% 0 2% -.2rem;
	}

	.post-categories li {
		list-style:  none;
		display: inline-block;
		font-size: .5rem;
		margin: 0 0 .2rem .2rem;
	}

	.post-categories li a {
		text-decoration: none;
		padding: .2rem;
		line-height: 1;
		display: inline-block;
		background: #CCC;
		color: $font-color__defo--dark;
		&[href*="kaigo"] {
			background:$kaigo-color;
			color:#FFF;
		}
		&[href*="jido"],&[href*="jido2"]  {
			background:$jido-color;
			color:#FFF;
		}
		&[href*="syakai_youseika"],&[href*="syafuku"] {
			background:$syafuku-color;
			color:#FFF;
		}
		&[href*="career"] {
			background:$cc-color;
			color:#FFF;
		}&[href*="koutyou_blog"] {
			background:$font-color__defo;
			color:#FFF;
		}
	}
}




@mixin card__time{
	display:block;
	font-size: $font-size--3S;
	color:$font-color__defo--light;
    font-family: Oswald, "sans-serif";
	margin:2% 0;
}
.card__time {
	@include card__time;
}
.card--pc__time {
	@include card__time;
}


@mixin card__title {
	.col--pc-4 & {
		font-size: $font-size--2S;
	}
	.col--pc-6 & {
		font-size: $font-size--M;
	}
	line-height:1.3;
	margin: 0;
	font-weight: normal;
	 >a {
    	text-decoration: none;
    	color: #333;
    }
}
.card__title {
	@include card__title;
}
@include media-pc {
	.card--pc__title {
		@include card__title;
	}
}


@mixin card__text {
	.col--pc-6 & {
		font-size: $font-size--S;
	}
	line-height:150%;
	margin:1rem 0;
	color:$font-color__defo--light;
}
.card__text {
	@include card__text;
}
@include media-pc {
	.card--pc__text {
		@include card__text;
	}
}



@mixin card__link {
	font-size: .8rem;
	position: absolute !important;
	left: 5%;
	bottom: .5rem;
}
.card__link {
	@include card__link;
}
@include media-pc {
	.card--pc__link {
		@include card__link;
	}
}

.card-men__link {
	display:block;
	text-decoration: none;
}
.card-men {
	margin:3rem 0;
	background: #FFF;
	padding: 2.5%;
	border: solid 1px #ccc;
	display: flex;
	align-items: center;
	position:relative;
	.thum-circle {
		flex: 1;
		.card-men__link & {
			margin-top:  calc(2.5% + 1rem);
		}
	}
	.card-men__img50 {
		flex: 2;
	}
	.card-men-content {
		flex: 3;
		padding-left: 2.5%;
	}
	.card-men__link & {
		padding: 2.5% 2.5% calc(2.5% + 1.5rem);
		color: $font-color__defo;
	}
	&--sp-1clm {
		@extend .card-men;
		@include media-sp {
			display: block;
			padding-top: 20%;
			.thum-circle {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%,-50%);
				width: 40%;
				.image-wrap {
					box-shadow: 0 0.3rem 1.5rem rgba(0,0,0,.3);
				}
			}
			.thum-circle__name {
				margin-bottom: 1rem;
			}
		}
	}
}
.card-men--sp-1clm__wrap {
	margin-bottom: 2rem;
	@include media-sp {
		margin-top: 30%;
	}
}
.card-men__flag {
	display: inline-block;
	line-height: 1;
	padding: .4rem .5rem .3rem;
	margin-bottom: .3rem;
	color: #000;
}
.card-men__title {
	margin-bottom: .5rem;
	background: none;
	padding: 0;
	margin: 0 0 .5rem;
	color: $font-color__defo;
	font-size: $font-size--M;
}
.card-men__text {
	margin: .5rem 0;
	@include media-sp {
		font-size: $font-size--S;
	}
}
.card-men__link-text {
	position: absolute;
	bottom: 0;
	right: 0;
}
.col--pc-6 {
	@include media-pc {
		.card-men {
			padding:.5rem .5rem .8rem;
			.blog-list__link {
				background: none;
				color: $font-color__link;
				padding: .3rem;
				font-size: .6rem;
				font-weight: bold;
			}
			.thum-circle {
				margin-top: .5rem;
			}
		}
		.card-men__title {	
			font-size: 1rem;
		}
		.card-men__text {	
			font-size: .8rem;
			margin: .5rem 0;
		}
	}
}

.blog-card__wrap{
	}
.blog-card {
    display: flex;
    flex-wrap : wrap;
    background-color:  #fff;
    margin: 1rem auto;
    align-items: center;
    text-decoration: none;
    color: #555;
    cursor: pointer;
    @include media-pc {
		width: 90%;
    }
}
.blog-card--border{
	@extend .blog-card;
	border: solid .1rem rgba(0, 0, 0, 0.1);
}

.blog-card__thumbnail {
    width: 25%;
    box-sizing: border-box;
    padding:  2%;
}
.blog-card__body {
    width: 70%;
    padding: 2% 2% 2% 0;
    >*:first-child {
    	margin-top:0;
    }
    >*:last-child {
    	margin-bottom: 0;
    }
}
.blog-card__body--ttl{
	margin:0 0 1rem;
	font-size: $font-size--M;
	line-height: 1.3;
}
.blog-card__arrow {
    width: 5%;
    font-size:  $font-size--2L;
    align-self: stretch;
    background-color: $link-color--light;
    position:  relative;
}
.blog-card__arrow-i {
    position:  absolute;
    top: 50%;
    left:  50%;
    margin-top:  -.8rem;
    margin-left:  -.3rem;
    color: #fff;
}

.card-message {
	@include card;
	position: relative;
}
.card-message__link {
	text-decoration: none;
	color: #555;
}
.card-message__img {padding: 0.4rem;}
.card-message__content {
	padding: 0 5% 5%;
	margin-bottom: 1rem;
    word-wrap: break-word;
}
.card-message__gakka {
	display: block;
	padding: 0.3rem;
	color: #fff;
	font-size: 0.65rem;
	font-weight: normal;
    text-align: center;
	margin: 0 0 0.5rem 0;
	background-color: #ccc;
	.kaigo &,
	.kaigo2 & {
		background-color: $kaigo-color;
	}
	.syafuku &,
	.syakai_youseika & {
		background-color: $syafuku-color;
	}
	.jido &,
	.jido1 &,
	.jido2 & {
		background-color: $jido-color;
	}
	.cc &{
		background-color: $cc-color;
	}
}
.card-message__block {
	margin: 0;
	font-size: 0.85rem;
	position:  relative;
	>*:last-child{margin-bottom: 0;}
}
.card-message__koumoku {
	margin: 0;
	font-weight: normal;
	.kaigo &,
	.kaigo2 & {
		color: $kaigo-color;
	}
	.syafuku &,
	.syakai_youseika & {
		color: $syafuku-color;
	}
	.jido &,
	.jido1 &,
	.jido2 & {
		color: $jido-color;
	}
	.cc &{
		color: $cc-color;
	}
}
.card-message__text {
	margin: 0 0 0.5rem 0;
}
.card-message__icon {
	position: absolute;
	font-size: 1rem;
	z-index: 10;
	right: 0.5rem;
	bottom: 0.5rem;
	&:after {content: "\f101"}
	.kaigo &,
	.kaigo2 & {
		color: $kaigo-color;
	}
	.syafuku &,
	.syakai_youseika & {
		color: $syafuku-color;
	}
	.jido &,
	.jido1 &,
	.jido2 & {
		color: $jido-color;
	}
	.cc &{
		color: $cc-color;
	}
}