.comment-thum {
	display: flex;
	max-width: 50rem;
	margin: 2rem auto;
	border: solid 1px #CCC;
	flex-wrap: wrap;
	justify-content:center;
	background-color: #FFF;
	@include media-pc {
		padding: 2rem;
	}
	@include media-sp {
		padding: 5%;
	}
}
.comment-thum--link{
	@extend .comment-thum;
	position: relative;
    padding-bottom: 1rem;
    border-width: 1px;
    &__button{
    	position: absolute;
	    bottom: 0;
	    right: 0;
    }
}

.comment-thum__thum {
	flex-basis: 10rem;
	position:relative;
	@include media-pc {
		margin-right: 2rem;
	}
	@include media-sp {
		margin-bottom: 1rem;
	}
	.icon-kokki {
		width:30%;
	}
}
.comment-thum__img {
	border-radius:  9999px;
}
.comment-thum__cap {
	line-height: 1.2;
	text-align: center;
	margin-top: .5rem;
}
.comment-thum__att {
	display: block;
	font-size: $font-size--2S;
	margin-bottom:.5rem;
}
.comment-thum__name {
	font-size: $font-size--M;
}
.comment-thum__cont {
	flex-basis: 25rem;
	flex-grow:1;
	.comment-thum--link &{
	    margin-bottom: 2rem
	}
}
.comment-thum__title {
	margin: 0 0 1rem 0;
	line-height: 1.3;
	font-size: $font-size--L;
}
.comment-thum__text {
	margin-top:  0;
	margin-bottom:  0;
	font-size: $font-size--S;
}

