.content-tmp-wide{
	width: 100%;
	margin: auto;
}

.content-tmp{
	width: 1000px;
	margin: auto;
	@include media-sp {
		width: 100%;
	}
}

.content-1000wrap{
	width: 1000px;
	margin: auto;
	@include media-sp {
		width: 100%;
	}
}