.gakka-flow__title {
    display: inline-block;
    padding: .5rem;
    border-radius:  .3rem;
    line-height: 1;
    min-width: 5rem;
    text-align: center;
    margin: 0;
}
.gakka-flow__cont {
    padding-left: 2.5rem;
    padding-top:  2rem;
    padding-bottom: 1rem;
    border-left: dotted .3rem #CCC;
    margin-left: 2.5rem;
}
.flow-down-icon {
	text-align: center;
	margin:.5rem 0;
    background: $base-color;
}

.flow-down__border{
    display: inline-block;
    >li {
        border: 5px solid $main-color--light;
        background-color:#fff;
        padding:  1rem .8rem;
        margin-bottom: 2rem;
        text-align:  center;
        position: relative;
        &:after{
            content: "";
            position: absolute;
            top: calc(100% + 5px + .5rem);
            left:50%;
            transform:translateX(-50%);
            border-width: 1rem 1rem 0 1rem;
            border-color: $main-color--light transparent transparent transparent;
            border-style: solid;
        }
        &:last-child{
            &:after {
                content:none;
            }
        }
    }
}