.entry-footer {
	margin-bottom:3rem;
}
.footer {
	background:none;
	padding-top:2rem;
	overflow: hidden;
	border-top: solid 1px $main-color;
}
.footer-address {
	font-style: inherit;
	margin:0;
}

.footer-address__item {
	display:block;
	margin: 0;
	padding: 1rem;
	background: #FFF;
	text-decoration: none;
	color:$font-color__defo;
	border: solid 1px $font-color__defo;
	@include media-sp {
    	font-size: $font-size--S;
    }
	a {
		text-decoration: none;
		color:$font-color__defo;
		min-height: 100%;
	    display: flex;
	    align-items: center;
	}
	&--link {
		@extend .footer-address__item;
		position: relative;
		padding-right: 2rem;
		min-height: 100%;
	    display: flex;
	    align-items: center;
		&:after {
			@include webfont;
			content: "\f105";
		    position:absolute;
		    right:.5rem;
		    top:50%;
		    transform:translateY(-50%);
		    color:$main-color;
		}
	}
}
.footer-title {
	margin: 0;
	font-size: 2rem;
	line-height: 1.3;
	color: $font-color__defo--dark;
}

.footer-title__min {
	display: block;
	font-size: 1rem;
	font-weight:  normal;
}

.footer-title__main {
	display: block;
}
.footer-title--min {
	font-size:  1rem;
	margin: 0;
}
.footer-group-school__item{
	@include media-pc {
		font-size: $font-size--S;
	}
	@include media-sp {
		font-size: $font-size--2S;
	}
	line-height: 1;
	a {
		position: relative;
		display:block;
		padding-left: .5rem;
			&:before {
			@include webfont;
			content: "\f105";
		    position:absolute;
		    left:0;
		    top:50%;
		    transform:translateY(-50%);
		    color:$main-color;
		}
	}
}
.copyright {
	background:$main-color;
	color:#FFF;
	text-align: center;
	padding:.5rem;
	font-size: $font-size--S;
	p {
		margin:0;
		line-height: 1;
	}
}