.fukidashi {
	display: inline-block;
	padding: .8rem 1rem;
	border-radius: 1.3rem;
	background:#FFF;
	margin:0;
}

.balloon {
    display: flex;
    flex-wrap : wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    @include media-sp {
        margin-bottom: 8rem;
    }
    &--top{
        @extend .balloon;
        align-items: stretch;
        @include media-sp {
            align-items: stretch;
        }
    }
    &--sp-top{
        @include media-sp {
            align-items: stretch;
      }
    }
    &--left{
        @extend .balloon;
    }
}

.balloon__imgarea {
    flex-basis: 25%;
    position: relative;
    margin: 0;
    &--sp-40{
        @extend .balloon__imgarea;
        @include media-sp {
	  		flex-basis: 40%;
	  	}
    }
    .balloon--left & {
        order:2;
    }
}
.balloon__imgarea-txt{
    position: absolute;
}
.balloon__balloonarea {
    max-width: 75%;
    min-width: 25%;
    margin: 0;
    &--sp-60{
        @extend .balloon__balloonarea;
        @include media-sp {
		    max-width: 60%;
		    min-width: 40%;
		}
    }
}

.balloon__balloonarea-box {
    position: relative;
    display: inline-block;
    margin-left: 40px;
    padding: .5rem 1rem;
    max-width: calc(100% - 40px);
    min-width: 120px;
    background: #FFF;
    border: solid 3px $font-color__defo;
    box-sizing: border-box;
    &:before{
        content: "";
        position: absolute;
        top: 50%;
        right:calc(100% - 3px);
        margin-top: -12px;
        border: 12px solid transparent;
        border-right: 12px solid #FFF;
        z-index: 2;
    }
    &:after{
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -14px;
        border: 14px solid transparent;
        border-right: 14px solid $font-color__defo;
        z-index: 1;
    }
    .balloon--left {
        margin-left: 0px;
        margin-right: 40px;
        &:before{
            right: initial;
            left:calc(100% - 3px);
            border-left: 12px solid #FFF;
        }
        &:after{
                right: initial;
                left: 100%;
            border: 14px solid transparent;
            border-left: 14px solid $font-color__defo;
        }
    }
    .balloon--top &{
        min-height: 161px;
        &:before{
            top: 50px;
        }
        &:after{
            top: 50px;
        }
    }
    .balloon--sp-top &{
        @include media-sp {
            min-height: 84px;
        }
        &:before{
            @include media-sp {
                top: 40px;
            }
        }
        &:after{
            @include media-sp {
                top: 40px;
            }
        }
    }
    .balloon__balloonarea--sp-60 &{
        @include media-sp {
            margin-left: 20px;
            max-width: calc(100% - 20px);
            min-height: 135px;
        }
    }
}