.top__title {
	font-style: normal;
	line-height: 1.3;
	border: none;
	padding: 0;
	margin: 1rem 0 1rem;
	text-align: center;
	font-weight: 300;
	color: $main-color;
	position:relative;
	sub {
		font-size: 1rem;
		line-height: 1.3;
		display: block;
	}
}
.button__h-more {
	position: absolute;
	font-size: .8rem;
	text-decoration: none;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	color: #555;
	display: inline-block;
	padding: .5rem 1px .5rem 1rem;
	&:before {
		@include webfont;
		content: "\f138";
		position:absolute;
		color:$main-color;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

.entry-header {
	text-align: center;
	position:relative;
	overflow:hidden;
	@include media-pc {
		padding:5%;
	}
	@include media-sp {
		padding:15% 2.5%;
	}
	&:before {
		content:"";
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		z-index: 1;
		background:linear-gradient(-60deg, rgba(255, 215, 70, 0.78), rgba(255, 59, 105, 0.54));
	}
	.img-back--100 {
		filter: blur(.1rem);
	}
	>* {
		position: relative;
		z-index: 2;
		color: #FFF;
	}
	.meta-list {
		float: none;
		text-shadow: 0.1rem 0 0.5rem rgba(0,0,0,.3);
		li,a {
			color: #FFF;
		}
	}
}
.entry-header--cc{
	@extend	 .entry-header;
	&:before {
		background:linear-gradient(-60deg, rgba(255, 215, 70, 0.7) 0%, rgba(206, 147, 191, .8) 45%, rgba(184, 147, 191, .9) 100%);
	}
	.img-back--100 {
		filter: blur(0);
	}
}
.entry-title {
	font-size: $font-size--2L;
	text-shadow: 0.1rem 0 0.5rem rgba(0,0,0,.3);
}

.page-title {
	margin: 0;
	font-size: 1.5rem;
	line-height: 1.3;
	padding: 1rem;
	background: $main-color;
	color: #FFF;
	@include media-sp {
		margin-top:1rem;
	}
}

.h-center {
	text-align: center;
    line-height: 1.3;
    @include media-pc {
    	font-size: 3rem;
    }
    @include media-sp {
    	font-size: 2rem;
    }
}
.tagline {
	text-align: center;
	font-family: "こぶりなゴシック W6 JIS2004";
	line-height: 1.3;
	font-size: $font-size--2L;
	@include media-pc {
		margin:3rem 0;
	}
	@include media-sp {
		margin:2rem 0;
	}
}
.h-voice {
	font-size: $font-size--2L;
	font-family: "こぶりなゴシック W6 JIS2004";
	line-height: 1.3;
	text-align: center;
}


.gakka-title__wrap {
	position: relative;
	padding: 5% 3% 4%;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		width: 30%;
		height: 100%;
		background-repeat: no-repeat;
		background-image: url(../img/gakka/common/gakka_title_before.svg);
		background-size: auto 100%;
		background-position: top right;
		z-index: 0;
	}
	&:after {
		position: absolute;
		top: 0;
		right: 0;
		content: "";
		width:30%;
		height: 100%;
		background-repeat: no-repeat;
		background-image: url(../img/gakka/common/gakka_title_after.svg);
		background-size: auto 100%;
		background-position: top left;
		z-index: 0;
	}
}
.gakka-kaigo__title {
	position: relative;
	padding: 5% 0 4%;
	margin:0;
	text-align: center;
	&:before {
		position: absolute;
    	top: 50%;
		left: 0;
		content: "";
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-image: url(../img/gakka/kaigo/gakka_title__kaigo_before.svg);
    	background-size: 40% auto;
		background-position: center left;
		z-index: 0;
    	min-height: 140px;
    	transform: translateY(-50%);
	}
	&:after {
		position: absolute;
    	top: 50%;
		right: 0;
		content: "";
		width:100%;
		height: 100%;
		background-repeat: no-repeat;
		background-image: url(../img/gakka/kaigo/gakka_title__kaigo_after.svg);
    	background-size: 40% auto;
		background-position: center right;
		z-index: 0;
    	min-height: 140px;
    	transform: translateY(-50%);
	}
	>* {
		position:relative;
		z-index: 1;
	}
}
.gakka-jido__title {
	@extend .gakka-kaigo__title;
	&:before {
		background-image: url(../img/gakka/jido/gakka_title__jido_before.svg);
		z-index: 0;
	}
	&:after {
		background-image: url(../img/gakka/jido/gakka_title__jido_after.svg);
		z-index: 0;
	}
	
}
.gakka-syafuku__title {
	@extend .gakka-kaigo__title;
}
.gakka-cc__title {
	@extend .gakka-jido__title;
}
.gakka-title {
	position:relative;
	z-index: 10;
	margin: 0;
	padding: 0;
	border: none;
	text-align: center;
	letter-spacing: .3rem;
	font-size: $font-size--3L;
	line-height: 1;
	font-weight: 700;
}
.gakka-title__nen {
	font-size: $font-size--S;
	padding: .5rem 1rem;
	background: #FFF;
	font-weight: 300;
	line-height: 1;
	display: inline-block;
	letter-spacing: 0;
}

.h-back {
	padding:3%;
	line-height: 1.3;
	padding:.5rem 1rem;
	color:#FFF;
	&__main {
		@extend .h-back;
		background: $main-color;
		color: #FFF;
	}
	&__point {
		@extend .h-back;
		background: $point-color;
		color: #FFF;
	}
	&__kaigo {
		@extend .h-back;
		background: $kaigo-color;
		color: #FFF;
	}
	&__syafuku {
		@extend .h-back;
		background: $syafuku-color;
		color: #FFF;
	}
	&__jido {
		@extend .h-back;
		background: $jido-color;
		color: #FFF;
	}
	&__cc {
		@extend .h-back;
		background: $cc-color;
		color: #FFF;
	}
}

.h-left-border {
	margin:3rem 0 1rem;
	padding:.5rem 1rem;
	font-size: $font-size--L;
	background: #FFF;
}
.h-left-border__main {
	@extend .h-left-border;
	border-left: solid .5rem $main-color; 
}
.h-left-border__point {
	@extend .h-left-border;
	border-left: solid .5rem $point-color; 
}
.h-left-border__kaigo {
	@extend .h-left-border;
	border-left: solid .5rem $kaigo-color; 
}
.h-left-border__spo {
	@extend .h-left-border;
	border-left: solid .5rem $spo-color; 
}
.h-left-border__sougou {
	@extend .h-left-border;
	border-left: solid .5rem $blue-color; 
}
.h-left-border__syafuku {
	@extend .h-left-border;
	border-left: solid .5rem $syafuku-color; 
}
.h-left-border__jido {
	@extend .h-left-border;
	border-left: solid .5rem $jido-color; 
}
.h-left-border__cc {
	@extend .h-left-border;
	border-left: solid .5rem $cc-color; 
}
.h-boder-center {
	display:block;
	position:relative;
	font-weight: 300;
	&:before {
	    content: "";
	    display: block;
	    border-top: solid 1px black;
	    width: 100%;
	    height: 1px;
	    position: absolute;
	    top: 50%;
	    z-index: 1;
	}
}
 
.h-boder-center__inner {
    background: #fff;
    padding: 0 .5rem;
    position: relative;
    z-index: 5;
}
.h-center.icon {
	text-align: center;
	border: none;
	padding: 0;
	font-size: $font-size--2L;
	i {
		display:block;
		color:#CCC;
		font-size:5rem;
	}
}
.h-icon {
	margin:3rem 0 1rem;
	padding-left:2.5rem;
	font-size: $font-size--L;
	position:relative;
	>i {
		position:absolute;
		left:.5rem;
		top: 50%;
		transform:translateY(-50%);
		font-size: 1.5rem;
	}
}
.h-icon--top{
	@extend .h-icon;
	>i{
	    top: .9rem;
	}
}

.h-left-img {
	border: none;
	position:relative;
	padding-left: 1.3rem;
	>img {
		width:1em;
		height:auto;
		position:absolute;
	}
}
.h-under-line {
	padding-bottom:.3rem;
	margin:1rem 0 .5rem;
	font-size: $font-size--M;
	border-bottom: solid 1px #CCC;
}
.h-under-line--short{
	position: relative;
	text-align: center;
	padding-bottom: .8rem;
	margin-bottom: 1rem;
	font-size: $font-size--2L;
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		width: 60px;
		left: 50%;
		border-bottom: 3px solid $font-color__defo;
		transform: translateX(-50%);
		border-radius: 2px;
	}
}
.h-bottom-border {
	color:$font-color__defo;
	background:none;
	margin:0;
	border-bottom: dotted 1px #555;
	padding:0 0 .5rem 0;
	font-size: $font-size--L;
	line-height: 1.3;
}

.inner-title {
	margin:2rem 0 1rem;
	font-size: $font-size--L;
}
.inner-title__back {
	@extend .inner-title;
	padding:.5rem 1rem;
}
.h-catch {
	font-size: 3rem;
    letter-spacing: .3rem;
}
.marker-yellow {
	color:#000;
	background: linear-gradient(transparent 50%, rgba(251,230,124,1) 50%, rgba(251,230,124,1) 100%);
	font-weight:normal;
}
.marker-point {
	color:#000;
	background: linear-gradient(transparent 50%, rgba(251,230,124,1) 50%, rgba(251,230,124,1) 100%);
	&__main{
		background: linear-gradient(transparent 50%, rgba($main-color,0.5) 50%, rgba($main-color,0.5) 100%);
	}
	&__kaigo{
		background: linear-gradient(transparent 50%, rgba($kaigo-color,0.5) 50%, rgba($kaigo-color,0.5) 100%);
	}
	&__syafuku{
		background: linear-gradient(transparent 50%, rgba($syafuku-color,0.5) 50%, rgba($syafuku-color,0.5) 100%);
	}
	&__jido{
		background: linear-gradient(transparent 50%, rgba($jido-color,0.5) 50%, rgba($jido-color,0.5) 100%);
	}
	&__cc{
		background: linear-gradient(transparent 50%, rgba($cc-color,0.5) 50%, rgba($cc-color,0.5) 100%);
	}
	&__yellow{
		background: linear-gradient(transparent 50%, rgba(251,230,124,1) 50%, rgba(251,230,124,1) 100%);
	}
}
.h-inline-back-color {
    padding: .5rem 1rem;
    background-repeat: repeat;
    border-radius: 0;
    font-weight: bold;
    font-size: $font-size--L;
    border: none;
    background: $main-color;
    color: #FFF;
    display: inline-block;
    margin: 0;
    border: none;
}

.h-block-double-line {
	color: #FFF;
	display: block;
	text-align: center;
	padding: 2.5%;
	font-size: $font-size--L;
	border: .2rem double #fff;
	margin-bottom: 2.5%;
	letter-spacing: 0.2rem;
}
.h-ribon {
    display: inline-block;
    position: relative;
    height: 3rem;
    line-height: 3rem;
    vertical-align: middle;
    text-align: center;
    padding: 0 1.5rem 0 .8rem;
    font-size:$font-size--L;
    background: $main-color;
    color: #FFF;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1rem;
	&:after{
	    position: absolute;
	    content: '';
	    width: 0px;
	    height: 0px;
	    z-index: 1;
	    top: 0;
	    right: 0;
	    border-width: 1.5rem 1rem 1.5rem 0;
	    border-color: transparent #fff transparent transparent;
	    border-style: solid;
	}
}

.h-ribon-center{
	@extend .h-ribon;
    padding: 0 1.5rem;
	&:before {
    	position: absolute;
	    content: '';
	    width: 0px;
	    height: 0px;
	    z-index: 1;
	    top: 0;
	    left: 0;
	    border-width: 1.5rem 0 1.5rem 1rem;
	    border-color: transparent transparent transparent #fff;
	    border-style: solid;
	}
	&--S{
		@extend .h-ribon-center;
	    padding: 0 1rem;
    	height: 1.8rem;
    	line-height: 1.8rem;
    	font-size:$font-size--S;
		&:after{
	    	border-width: .9rem .4rem .9rem 0;
	    	border-color: transparent #fff transparent transparent;
		}
		&:before{
	    	border-width: .9rem 0 .9rem .4rem;
	    	border-color: transparent transparent transparent #fff;
		}

	}
}
.h-ribon-center-dashed{
	@extend .h-ribon-center;
    padding: 0 1.5rem;
	&--2L{
		@extend .h-ribon-center-dashed;
    	height: 4rem;
    	line-height: 4rem;
    	font-size:$font-size--2L;
		&:after{
	    	border-width: 2rem 1rem 2rem 0;
	    	border-color: transparent #fff transparent transparent;
		}
		&:before{
	    	border-width: 2rem 0 2rem 1rem;
	    	border-color: transparent transparent transparent #fff;
		}
	}
}
.h-ribon-center-dashed__inner{
    border-top: dashed 2px rgba(255, 255, 255, 0.5);
    border-bottom: dashed 2px rgba(255, 255, 255, 0.5);
    padding: .5rem 2rem;
}


.h-circle{
	position: relative;
	text-shadow: 0 0 2px #fff;
	font-size: $font-size--L;
    padding-left: 1rem;
	&:first-letter{
		font-size:$font-size--3L;
	}
	&:before {
		content: "";
		position: absolute;
		background: $main-color--light;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		top: $font-size--L;
		left: 0;
		transform: translateY(-50%);
		z-index: -1;
	}
	&--cc{
		@extend .h-circle;
		&:before{
			background: $cc-color--light;
		}
	}
}

.h-beta-dotted{
    color: #fff;
    text-align: center;
    background-color: $font-color__defo;
    padding: 1.5rem;
    position: relative;
    + *{
    	margin-top: 0;
    }
    &:after {
	    position:  absolute;
	    content: "";
	    width: 100%;
	    bottom: .3rem;
	    left: 0;
	    border-bottom: 2px dotted #fff;
	}
	&:before {
	    position:  absolute;
	    content: "";
	    width: 100%;
	    top: .3rem;
	    left: 0;
	    border-bottom: 2px dotted #fff;
	}
	&__main{
		@extend .h-beta-dotted;
    	background-color: $main-color;

	}
	&__syafuku{
		@extend .h-beta-dotted;
    	background-color: $syafuku-color;
	}
	&__cc{
		@extend .h-beta-dotted;
    	background-color: $cc-color;
	}
}
