.news-box {
	margin: 0;
	padding: 5%;
	background:  #FFF;
}

.news-box__item {
	margin: 2.5% 0;
	padding-bottom: 2.5%;
	list-style: none;
	border-bottom: dotted 1px #CCC;
}
.news-box__img>img {
	vertical-align: bottom;
}
.news-box__link {
	display: block;
	position: relative;
	text-decoration:  none;
	color: $font-color--defo;
}
.news-box__time {
	line-height: 100%;
	display: block;
	margin: 2% 0;
	@extend .font-size--3S;
	color:$font-color__defo--light;
}
.news-box__cont {
	@extend .font-size--2S;
	padding: 2% 0 2% 0;
	margin: 0 0 2% 0;
	&:last-of-type {
		margin-bottom:0;
	}
	.news-box__link & {
		position:relative;
		padding-right:1rem;
		&:after {
			@include webfont;
			content: "\f105";
		    position:absolute;
		    right:0;
		    font-size: 1rem;
		    top:50%;
		    transform:translateY(-50%);
		    color:$main-color;
		}
	}
}
.news-box__text {
	margin:0;
	line-height: 1.3;
}
