.page-links-thumbnail {
	width: 100%;
	margin:3rem 0;
	@include media-pc {
		display: flex;
	}
}
a.page-links-thumbnail__item--prev,a.page-links-thumbnail__item--next{
	border:solid 1px #EEE;
	overflow:hidden;
	background: #FFF;
	color:$font-color__defo;
	text-decoration: none;
	@include media-pc {
		width: 50%;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}
	@include media-sp {
		width: 100%;
		display:table;
		>* {
			display:table-cell;
			vertical-align: middle;
		}
	}
	&:hover {
		.page-links-thumbnail__icon {
			background:$font-color__link;
		}
	}
}
.page-links-thumbnail__item--prev {
	text-align: left;
	border-radius: .5rem 0 0 .5rem;
	@include media-pc {
		justify-content:flex-start;
	}
	@include media-sp {
		margin-bottom: .5rem;
	}
}
.page-links-thumbnail__item--next{
	text-align: right;
	border-radius:0 .5rem .5rem 0;
	@include media-pc {
		justify-content:flex-end;
	}
}
.page-links-thumbnail__icon {
	background: $main-color;
	color: #FFF;
	width: 5%;
	@include media-pc {
		display: block;
	    height: 100%;
	    position: relative;
	    &:before {
	    	position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%,-50%);
	    }
	}
	@include media-sp {
		padding:2%;
	}
}
.page-links-thumbnail__img {
	min-height: 100%;
	width:25%;
}
.page-links-thumbnail__text {
	margin: 0;
	width:70%;
	background: #FFF;
	line-height: 1.3;
	padding: 1% 5%;
	font-size: .8rem;
	.page-links-thumbnail__item--prev & {
		padding-right: 2%;
	}
	.page-links-thumbnail__item--next & {
		padding-left: 2%;
	}
}