.site-logo {
    margin: 0;
    font-size: .8rem;
    line-height: 1;
    font-weight:  100;
    @include  media-sp {
    	padding-bottom:2.5%;
    	background: #FFF;
    }
    a {
    	text-decoration: none;
    	color:$font-color__defo;
    }
}
@include  media-sp {
    .home .site-logo {
        margin-top: -73.1875px;//iphone8 仮止め トップページのみ
    }
}
.site-logo__img {
    margin: .3rem 0 0;
    @include  media-sp {
    	margin:auto;
    	display:block;
    	width: 80%;
    }
}
.site-logo__text {
	display: block;
	@include media-pc {
		white-space: nowrap;
		font-size: .4rem;
	}
	@include media-sp {
		background: $base-color;
	    padding: 1% 2.5%;
	    color:$font-color__defo--light;
	    margin-bottom: 2.5%;
	}
}
.site-logo__old {
    text-align:  center;
    display: block;
}