.button-sort {
	@extend .button;
	padding-left: 2.5rem;
	position:relative;
	display:block;
	width:100%;
	height:100%;
	line-height: 1.3;
	margin:0;
	background:$link-color;
	transition-property: background,color;
	transition-duration: .5s;
	cursor: pointer;
	.button-sort__text {
		color:#FFF;
	}
	&:before {
		@include webfont;
		content:"\f0c8";
		position:absolute;
		top: 50%;
		left:1rem;
		transform:translateY(-50%);
		color:#FFF;
	}
	&.on {
		background: #FFF;
		.button-sort__text {
			color:$font-color__defo;
		}
		&:before {
			content:"\f14a";
			color:$link-color;
		}
	}
}

.sort-item {
	transition-property: width, height, opacity;
	transition: .5s;
	transform:translate3d(0,0,0);
	&.off {
		height: 0 !important;
		width: 0 !important;
		padding: 0!important;
		margin: 0!important;
		opacity:0!important;
		* {
			font-size: 0 !important;
			color: rgba(0,0,0,0) !important;
			line-height: 0 !important;
			padding: 0!important;
			margin: 0!important;
		}
	}
}
.sort-item__title {
	transition: .5s;
	transform:translate3d(0,0,0);
	&.off {
		height: 0 !important;
		padding: 0!important;
		margin: 0!important;
		opacity:0!important;
	}
}