.image-link__wrap {
	padding: 0;
}
.image-link__link {
    text-decoration:  none;
    color: $font-color__defo;
}
.image-link__cont {
	background: #FFF;
	padding:5%;
}
.image-link__title {
	margin: 0;
	font-size: $font-size--M;
	font-weight: 300;
	padding:0 1rem 0 0;
	width: 100%;
	&:after {
		right:0;
	}
}
.tobira-link {
	a {
		border: solid 1px $main-color;
		display: block;
		overflow: hidden;
		border-radius: .3rem;
	}
}