.top-banner__wrap {
	overflow: hidden;
	margin-bottom: 3rem; 
}

.top-banner__link {
	display: block;
	background: #FFF;
	border: solid 1px #CCC;
}
.pickup {
}
.pickup__item {
}
.pickup__link {
	display: block;
	background: #FFF;
	border: solid 1px #CCC;
	position:relative;
    &.new {
        &:before {
            width: 18%;
        }
    }
}
.pickup__icon-new {
	position: absolute;
	width: 20%;
	height: auto;
	left: -5%;
	top: -5%;
}