.tag-new {
	position: relative;
	text-align: center;
}

.tag-new__img {
	@include media-pc {
		width: 8rem;
		margin-bottom: -4rem;
	}
	@include media-sp {
		width: 5rem;
		margin-bottom: -2.5rem;
	}
}

.back-img-title {
	position: relative;
}

.back-img-title__title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	@include media-sp {
		width: 75%;
	}
	@include media-pc {
		width: 41%;
	}
	&--vol02 {
		@extend .back-img-title__title;
		@include media-pc {
			transform: translate(-50%,-20%);
		}
		@include media-sp {
			position:relative;
			transform: translate(-50%,0%);
			top:-50%;
			margin-top:1rem;
		}
	}
	&--vol03 {
		@extend .back-img-title__title;
		@include media-pc {
			bottom:0;
			transform: translate(-50%,0%);
			width: 50%;
		}
		@include media-sp {
			position:relative;
			transform: translate(-50%,0%);
			top:-50%;
			margin-top:1rem;
		}
	}
}
.voise-title__text {
	background: rgba(255, 255, 255, 0.7);
	margin: .3rem 0;
	font-size: .8rem;
	padding: .3rem .5rem;
	text-align: center;
	color: #000;
	border: solid 1px #000;
}
.box-tweet {
	display:table;
	width:100%;
	margin: 2rem 0;
}
.box-tweet__img-wrap {
	display:table-cell;
	padding-right:5%;
	width:20%;
}
.box-tweet__img {
	width: 100%;
	padding-top:100%;
	display: block;
	margin: 0;
	border-radius: 9999px;
	overflow:hidden;
	box-sizing: content-box;
	border-style: solid;
	border-width: .2rem;
}
.box-tweet__text {
	display: table-cell;
	font-weight: normal;
	margin:0;
	vertical-align: top;
	line-height: 2;
}
.tekiousya {
	color:#FFF;
	line-height:1.1;
	margin:0;
	padding:0;
	list-style:none;
	>li {
		margin:0;
		flex:1;
		min-width: 30%;
		>div {
			border-radius:100%;
			padding:1rem;
			text-align: center;
			white-space: nowrap;
		}
	}
}